<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>{{resume.name}}</h2>
    <h2>{{resume.email}}</h2>
    <h2>{{resume.phone_number}}</h2>
    <hr>
    <br>
    <p>Summary</p>
    <p>{{resume.summary}}</p>
    <p>Skills</p>
    <p>{{resume.skills}}</p>
    <p>Education</p>
    <ul>
        <li>{{resume.school}}</li>
        <li>{{resume.university}}</li>
    </ul>


    
</body>
</html>